<div class="container">
  <div class="row pt-5">
    <div class="offset-md-4 col-4">
      <h3 class="text-center">Sign in</h3>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary">Submit</button>
        <hr />
        <a routerLink="/registration">Create new account</a>
      </div>

    </div>
  </div>
</div>
